.skin_barre  /* on reprend le nom qu'on a mis dans 'class=' */
{
visibility:hidden;
width:30px;
height:300px;
/* on d�finit la taille du div (celle de l'image) */

top:20px;
left:23px;
/* et sa position initiale */

position:absolute;
/* le div n'est plus fixe mais libre */

background-image:url('../images/degrade.jpg');
/* on d�finit ici l'image � afficher dans le div */

cursor:s-resize;
/* et enfin on d�finit le curseur � afficher lorsque la souris passe sur ce div */
}

/* =====  de m�me pour les autres  ===== */

.skin_curseur1
{
visibility:hidden;
width:45px;
height:15px;
position:absolute;
top:12px;
left:15px;
cursor:s-resize;
background-image:url('../images/curseur1.png');
}

.skin_carre
{
visibility:hidden;
width:300px;
height:300px;
position:absolute;
top:20px;left:60px;
cursor:move;
background-color:red;  /* on d�finit la couleur initiale du carr� */
background-image:url('../images/degrade n-b.png');
}

.skin_curseur2
{
visibility:hidden;
width:20px;
height:20px;
position:absolute;
top:10px;
left:350px;
cursor:move;
background-image:url('../images/curseur2.png');
}

.skin_resultat
{
position:absolute;
top:330px;
left:60px;
border:1px solid black; /* dessine un cadre autour du 'input' noir et d'un pixel d'�paisseur */
background-color:red;
text-align:center;  /* on aligne le texte au centre */
}

.skin_bouton_OK
{
position:absolute;
top:330px;
left:220px;
}
